.contenedor {
    display: flex;
    justify-content: center;
}
.container {
    border: ridge #0075d9 5px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    background: rgba(0,0,0,.7);
    font-family: 'Courier New', Courier, monospace;
    width: 15em;
    height: fit-content; 
    height: 30em;
    font-size: 1em;
    /* height: 100%; */
    margin: 1em;
    padding: 0.5em;
    color: rgb(216, 213, 216);
    /* box-shadow: 0 0 10px rgba(86, 82, 82, 0.8); */
    box-shadow: 0 10px 6px #000;
    transform-style: preserve-3d;
    /*  */transform: translateZ(-2em) rotateX(8deg);
    transform: perspective(70em) rotateX(10deg);
    transition: all 1s ease;
}
.container:hover {
    box-shadow: 0 2px 4px #000;
    transform: rotate(0);
}
.container h2 {
    
    font-size: 1.2em;
    margin: 0.2em;
}

.titleName{
        /* font-family: rick_and_morty_title; */
        padding: 1em;
        color: #137fdd;
}
.img {
    object-fit: cover;
    width: 230px;
    height: 210px;
    border-radius: 15px;
}