.App {
   text-align: center;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /* background-image: url(./components/background/img/bg2.jpg); */
      /* background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; */
}
