.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: yellow; */
    background: rgba(0,0,0,.7);
    box-shadow: 0 10px 4px #000;
    border: red;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
  
    margin:1em auto;
    height: 4em;
    width: 90vw;
    border-radius: 2em;
    
 }
 .contButton {

 }
 .button {
    background: rgba(0,0,0,.7);
    width: 8vw;
    height: 5vh;
    margin-right: .8em;
    border-radius: 1em;
    color: white;
    transition: 0.5s
 }
 .button:hover {
    background: rgba(244, 239, 239, 0.7);
    width: 8vw;
    height: 5vh;
    margin-right: .8em;
    border-radius: 1em;
    color: black
 }
 @media (max-width: 980px){
   .nav {
      flex-direction: column;
      height: 23em;
      
   }
   .contButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }
   .button {
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      width: 80%;
      border-radius: 0.5em;
   }
   .button:hover{
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      width: 80%;
      border-radius: 0.5em; 
   }
 }